<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>


    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
</head>
<body style="background-color: white">
<h1 style="font-size: 50px; margin-top: 40px; text-align: center; color: black; font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;">Личный
    кабинет</h1>
<br>
<br>
<div class="topbtn">
    <form method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit"  value="Выйти из личного кабинета">
    </form>
    <br>
    <form method="get" th:action="@{/cart}">
        <input type="submit"  value="Корзина">
    </form>
    <br>
    <form method="get" th:action="@{/orders}">
        <input type="submit" value="Заказы">
    </form>



</div>

<h3>Cортировка, поиск, фильтрация</h3>
<div class="page1">
    <form th:method="POST" th:action="@{/product/search}">
        <fieldset>
            <legend>Выберите параметры для сортировки, поиска, фильтрации:</legend>
            <label for="search">Поиск по наименованию</label>
            <input type="text" id="search" name="search" th:value="*{value_search}">
            <br>
            <p>Цена, P</p>
            <label for="ot">От</label>
            <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
            <label for="do">До</label>
            <input type="text" name="do" id="do" th:value="*{value_price_do}">
            <br>
            <br>
            <div>
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">Отсортировать по возрастанию цены</label>
                <input type="radio" id="descending_price" name="price"
                       value="sorted_by_descending_price">
                <label for="descending_price">Отсортировать по убыванию цены</label>
                <p>Категория товаров: </p>
                <input type="radio" id="furniture" name="contract" value="furniture">
                <label for="furniture">Мебель</label>
                <input type="radio" id="appliances" name="contract" value="appliances">
                <label for="appliances">Бытовая техника</label>
                <input type="radio" id="clothes" name="contract" value="clothes">
                <label for="clothes">Одежда</label>
                <br>
                <br>
                <input type="submit" value="Найти">
            </div>
        </fieldset>
    </form>
</div>
<hr>
<h3>Результат поиска, cортировки, фильтрации</h3>
<div class="cards">
    <div class="card" th:each="product : ${search_product}">
        <!-- Верхняя часть -->
        <div class="card__top">
            <!-- Изображение-ссылка товара -->
            <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}" class="card__image">
                <img
                        th:src="'/img/' + ${product.imageList[0].getFileName()}"
                        alt="фото товара">
            </a>
        </div>
        <!-- Нижняя часть -->
        <div class="card__bottom">
            <!-- Цены на товар -->
            <div class="card__prices">

                <div class="card__price card__price--common" th:text="' '+${product.getPrice()}"></div>
            </div>
            <!-- Ссылка-название товара -->
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" class="card__title"
               th:text="${product.getTitle()}">
            </a>
            <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
            <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
            <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>

            <!-- Кнопка добавить в корзину -->
            <a class="card__add" th:href="@{/cart/add/{id}(id=${product.getId()})}">В корзину</a>
        </div>
    </div>
</div>
<hr>
<h3>Доступные товары: </h3>
<!-- Карточка товара -->
<div class="cards">
    <div class="card"  th:each="product : ${products}">
        <!-- Верхняя часть -->
        <div class="card__top">
            <!-- Изображение-ссылка товара -->
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" class="card__image">
                <img
                        th:src="'/img/' + ${product.imageList[0].getFileName()}"
                        alt="фото товара">
            </a>
        </div>
        <!-- Нижняя часть -->
        <div class="card__bottom">
            <!-- Цены на товар -->
            <div class="card__prices">

                <div class="card__price card__price--common" th:text="' '+${product.getPrice()}"></div>
            </div>
            <!-- Ссылка-название товара -->
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" class="card__title" th:text="${product.getTitle()}">
            </a>
            <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
            <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
            <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>

            <!-- Кнопка добавить в корзину -->
            <a class="card__add" th:href="@{/cart/add/{id}(id=${product.getId()})}">В корзину</a>
        </div>
    </div>
</div>
</body>
</html>
